/* =============================
   GLOBAL STYLES
============================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-color: #fafafa;
}

h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 1rem 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9d0d6;
  padding: 1rem;
}

footer {
  background-color: #d4dadf;
  color: #101111;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
