@media (min-width: 768px) {

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #hamburger {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  main {
    max-width: 1000px;
  }
}
