@media screen and (min-width: 768px) {
    nav {
        display: flex; /* show nav in larger screens */
        flex-direction: row;
        gap: 1rem;
    }

    #hamburger {
        display: none; /* hide hamburger */
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
