/* ===== Larger Screens ===== */
@media (min-width: 768px) {
  nav {
    flex-direction: row;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  main {
    max-width: 1000px;
  }
}
